body{
    background: whitesmoke;
}
p{
    text-align: justify;
}
/*Меню*/
.navbar-default {
    background-color: #4F4F4F;;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #4A9296;
}
.navbar-default .navbar-nav > li > a {
    color: #CECECE;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: transparent;
}
/*Конец Меню*/
/*Футер*/
#footer{
    background: #4c4c4c;
}
/*Конец Футер*/

